
<!DOCTYPE html>
<html>
    @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Yazılımcı Sözlüğe Hoşgeldiniz</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic&amp;display=swap">
    <link rel="stylesheet" href="assets/css/Features-Cards.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/Projects-Grid-Horizontal.css">
    <link rel="stylesheet" href="assets/css/Simple-Slider.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="57">
    <div class="row">
        <div class="col">
            <div class="container"><nav>
 <div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav></div>
        </div>
    </div>
    <header class="text-center text-white d-flex masthead" style="background-image:url('assets/img/header.jpg');">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase"><strong>Software dictionary</strong></h1>
                    <hr>
                </div>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5"></p>
            </div>
        </div>
    </header>
    <section id="services">
        <div class="row">
            <div class="col">
                <div class="simple-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper"></div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 row-cols-1 row-cols-md-2">
                <div class="col">
                    <div class="d-flex flex-column flex-lg-row">
                        <div class="w-100"><img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"></div>
                        <div class="py-4 py-lg-0 px-lg-4">
                            <h4>Lorem libero donec</h4>
                            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button" style="background: var(--bs-gray-100);color: var(--bs-dark);">Detaylı bilgi..</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex flex-column flex-lg-row">
                        <div class="w-100"><img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"></div>
                        <div class="py-4 py-lg-0 px-lg-4">
                            <h4>Lorem libero donec</h4>
                            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button" style="background: var(--bs-gray-100);color: var(--bs-gray-900);">Detaylı bilgi..</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex flex-column flex-lg-row">
                        <div class="w-100"><img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"></div>
                        <div class="py-4 py-lg-0 px-lg-4">
                            <h4>Lorem libero donec</h4>
                            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button" style="background: var(--bs-gray-100);color: var(--bs-gray-900);">Detaylı bilgi..</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex flex-column flex-lg-row">
                        <div class="w-100"><img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"></div>
                        <div class="py-4 py-lg-0 px-lg-4">
                            <h4>Lorem libero donec</h4>
                            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button" style="background: var(--bs-gray-100);color: var(--bs-dark);">detaylı bilgi..</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section id="portfolio" class="p-0">
            <div class="container-fluid p-0">
                <div class="row g-0 popup-gallery">
                    <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="fullsize/1.jpg"><img class="img-fluid" src="assets/img/thumbnails/web-design-poster.jpg">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded"><span>WEB TAsarım</span></div>
                                </div>
                            </div>
                        </a></div>
                    <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="fullsize/2.jpg"><img class="img-fluid" src="assets/img/thumbnails/mobil_programlama.jpg">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded"><span>MOBİL PROGRAMLAMA</span></div>
                                </div>
                            </div>
                        </a></div>
                    <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="fullsize/3.jpg"><img class="img-fluid" src="assets/img/thumbnails/800x480-22-maddede-2021-siber-guvenlik-raporu-1640936326434.jpg">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded"><span>SİBER GÜVENLİK</span></div>
                                </div>
                            </div>
                        </a></div>
                    <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="fullsize/4.jpg"><img class="img-fluid" src="assets/img/thumbnails/yapay-zeka-1.jpg">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded"><span>Yapay zeka</span></div>
                                </div>
                            </div>
                        </a></div>
                    <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="fullsize/5.jpg"><img class="img-fluid" src="assets/img/thumbnails/database.jpg">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded"><span>Veri Tabanı</span></div>
                                </div>
                            </div>
                        </a></div>
                    <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="fullsize/5.jpg"><img class="img-fluid" src="assets/img/thumbnails/yazilim_48720.png">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div id="1" class="project-category text-faded"><span>Diğer</span></div>
                                </div>
                            </div>
                        </a></div>
                </div>
            </div>
        </section>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="assets/js/creative.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
</body>

</html>